<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/explore.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About Data Set</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id= "contents" class="container theme-showcase">

      <div class="alert alert-info text-center" role="alert">
        <h4>Accountability: About This Data Set</h4>
        <p>This dataset came from Selin's personal smartphone data collected using the AWARE Framework using a Samsung S6 Galaxy phone. Through the study the data from the accelereometer and gps sensors were collected. In addition, Google's activity recognition plug-in was used to detect activity using either gps or telecommunication provider data.</p>
      </div>

      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>This dataset came from Selin's personal smartphone data collected using the AWARE Framework using a Samsung S6 Galaxy phone. Through the study the data from the accelereometer and gps sensors were collected. In addition, Google's activity recognition plug-in was used to detect activity using either gps or telecommunication provider data.</p>
     </p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>The data was collected and stored on the cloud on a personal account. Currently, in addition to myself, Google and Trifacta Wrangler has access to it. Tableau also has access to a subset of the data. It is displayed publicly on this website and on Tableau public. However, it cannot be downloaded by anybody but myself.</p>
      </div>

     <div class="alert alert-info text-center" role="alert">
        <h4>Quality: About This Data Set</h4>
        <p>Through the data collection pippeline, my phone and the gps was on most of the time. However, due to glitches during collection or me turning off the phone when I'm sleeping, there were many rows that was taken out.  
       </div>
   
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>The data is not complete. During cleaning, my approach was to delete rows that had missing data. Due to number of reasons, there were many instances when the google activity plugin did not record data for that minute. 
	As a result,many data points were ignored. However, the total number of data points was still enough to generate a fairly accurate representation of my week due to the frequency of data collection. 
	      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p> Data is coherent because it highlights the routes that I usually take and the places I spend time in. The times also look right. Because two different datasets (gps and activity recognition plug-in) were merged and edited in Trifacta Wranler, they were edited in format to be coherent.
	</div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p> I have been to all the locations that the visualisation shows around the times that it shows that I was in. I was aslo mostly sitting or walking between school and my house. So believe that the data is mostly correct.  </p>
      </div>
      

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
