<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Selin Insel">
    <link rel="icon" href="favicon.ico">
    <title>Fusion Byte Assignment</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/explore.css" rel="stylesheet">
  </head>

  <body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About Data Set</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id= "contents" class="container theme-showcase">

      <div class="alert alert-info text-center" role="alert">
        <h4>Hi! This is my Third Byte of Interactive Data Science Course Mobile Data Analysis Project.</h4>
      </div>
      
      <h2>
      <span class="label label-default">Question</span>
      <span id="question">What was Selin up to during the week of February 19th to February 26th? What routes does she takes and where does she stop to sit down?</span>
      </h2>

	<div class='tableauPlaceholder' 
	id='viz1520553462192' style='position: relative'><noscript><a href='#'>
	<img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ph&#47;phonedata_0&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='phonedata_0&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ph&#47;phonedata_0&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                
	<script type='text/javascript'>                    
	var divElement = document.getElementById('viz1520553462192');                    
	var vizElement = divElement.getElementsByTagName('object')[0];                    
	vizElement.style.width='1000px';vizElement.style.height='827px';                    
	var scriptElement = document.createElement('script');                    
	scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
	vizElement.parentNode.insertBefore(scriptElement, vizElement);                
	</script>

	<br>
	<h4>
	<span class="label label-default">Answers</span>
    <span id="answer">Selin spends time at home, at her friends' house, the MHCI studio on South Craig and at school. She usually walks to and from the school using the same route.</span>
    </h4>

	<div id="footer" class="container-fluid text-center">
		Made by Selin Insel for Interaction Data Science Course at CMU in Spring 2018.
    </div>

      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>